<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %} 
{% load custom_filters %}
 

{% block title %}
Все новости
{% endblock title %}
 

{% block content %}
<h1>Все новости </h1>
{% if news %}
    <p class="text-start">Найдено: {{news|length}}</p>
    {% for post in news %}
            <div class="card w-100">
              <div class="card-body">
                <h5 class="card-title text-primary">{{ post.title|censor }}</h5>
                 <p class="card-text text-secondary text-start">{{ post.date_create|date:'d.m.Y' }}</p>
                 <a href="{{ post.pk }}" class="btn">
                    <p class="card-text text-dark">{{ post.text|truncatewords:20|censor }}</p>
                  </a>
              </div>
            </div>
    {% endfor %}

{% else %}
    Новостей нет
{% endif %}
{% endblock content %}