{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}
 
{% block content %}

<h1>ООО Облачные сервисы</h1>
<h2>{{ flatpage.content }}</h2>

<div>
<ul style="font-weight: 400;">
	<li>Типовые конфигурации 1С в облаке</li>
	<li>Работа в облаке измененных конфигураций 1С</li>
	<li>Аренда серверов с лицензиями 1С</li>
	<li>Настройка серверов для 1С на свободном ПО</li>
	<li>Развёртывание систем на базе ОС Linux</li>
	<li>Техническая поддержка и сопровождение</li>
</ul>
<div>

<div style="
    width: 20em;
    position: absolute;
    font-size: 20pt;
    font-weight: bold;
    color: #b90b50;
    left: 0;
    bottom: 0;
"><img src="/static/assets/1cap.png">{{ flatpage.content }}</div>
{{ flatpage.content }}
{% endblock content %}